<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %></h2>
            </div>
            <div class="centered">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button id="order-btn" class="btn">ORDER</button>
                <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
                <script src="/js/billing.js"></script>
                <script>
                    var ReqHostUrlSuccess = '<%= RequestHostUrl %>' + '/checkout/success';
                    var ReqHostUrlCancel = '<%= RequestHostUrl %>' + '/checkout/cancel';
                    var ReqHostUrl = '<%= RequestHostUrl %>';
                    var IMP = window.IMP;
                    var CID = '<%= CID %>'
                    IMP.init('<%= I_AM_PORT_SHOP_CODE %>');
                    
                    var orderBtn = document.getElementById('order-btn');
                    const csrf_requestPay = orderBtn.parentNode.querySelector('[name=_csrf]').value;
                    orderBtn.addEventListener('click', requestPay );

                </script>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>